.navigation {
    overflow: hidden;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.navigation button {
    background-color: inherit;
    float: left;
    border: none;
    cursor: pointer;
    padding: 20px;
    width:50%;
    transition: 0.3s;
    font-size: 15px;
    font-weight: bold;
}

.navigation button:hover {
    background-color: #2e7bcd2d;
    color: #2e7acd;
}

.navigation button.active {
    color: #2e7acd;
    border-bottom: 2px solid #2e7acd;
}

.home-body{
    margin-left:20%; 
    margin-right:20%; 
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
}

.posts {
    padding: 10px 20px 10px 20px;
    list-style-type:none;
    border-bottom: 1px solid lightgray;
    background-color: white;
    cursor: pointer;
}

.ptitle {
    color: black;
    font-size: 15pt;
    font-weight: 800;
}

.posts a {
    text-decoration: none;
    color: grey;
    font-weight: 1000;
}

.posts a:hover {
    text-decoration: underline;
}

.posts:hover {
    background-color: #bedeff49;
    transition: 0.2s;
}

.pbody{
    color:rgba(128, 128, 128, 0.801);
}

.pcontent{
    color:black;
}