{% extends "base.html" %}
{% load static %}
{% block title %}PolarBear -- {{ title }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{% static 'blog/postfeed.css'%}">{% endblock %}
{% block content %}

<div class="home-body">
  <div class="navigation">
    {% if fPosts %}
      <button onclick="window.location.href = '{% url 'allposts' %}';">All Posts</button>
      <button class="active" onclick="window.location.href = '{% url 'friendposts' %}';">Friends' Posts</button>
    {% else %}
      <button class="active" onclick="window.location.href = '{% url 'allposts' %}';">All Posts</button>
      <button onclick="window.location.href = '{% url 'friendposts' %}';">Friends' Posts</button>
    {% endif %}
  </div>
 
  <div class="content">

    {% for post in posts %}
    <div class="posts" onclick="location.href='{% url 'viewpost' post.pk|urlencode:"" %}';">
      <div class="phead">
        <div class="ptitle">{{ post.title }}</div>
      </div>
      <div class="pbody">
        Posted by <a href="{% url 'profile' post.author.pk|urlencode:"" %}">{{ post.author.user.username }}</a>
        on <span>{{ post.date }}</span><br><br>
        <div class="pcontent">{{ post.content }}</div>
      </div>
    </div>
    {% endfor %}


  </div>

</div>



{% endblock %}
