{% extends "base.html" %}
{% load static %}
{% block title %}PolarBear -- Postpage{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{% static 'blog/editpost.css'%}">{% endblock %}
{% block content %}

<div class="post-content">
  <form id = 'p' action="{% url 'post' %}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="save-button" type="submit" value="Post">
  </form>
</div>


<script type="text/javascript" src = "{% static 'blog/index.js'%}" ></script>

{% endblock %}
