{% extends "base.html" %}
{% load static %}
{% block title %}PolarBear -- {{ title }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{% static 'blog/postfeed.css'%}">{% endblock %}
{% block content %}

<div class="home-body">
  <div class="navigation">
    {% if fPosts %}
      <button onclick="window.location.href = '{% url 'allposts' %}';">All Posts</button>
      <button class="active" onclick="window.location.href = '{% url 'friendposts' %}';">Friends' Posts</button>
    {% else %}
      <button class="active" onclick="window.location.href = '{% url 'allposts' %}';">All Posts</button>
      <button onclick="window.location.href = '{% url 'friendposts' %}';">Friends' Posts</button>
    {% endif %}
  </div>
  <p style="color:red;">Debugging Info:<br>{{test}}</p>
  <div class="content">
      <div class="posts">            
          <ul>
            {% for post in test %}
            <li>
              {% comment %}
              <a href="{% url 'viewpost' post.id %}">{{ post.title }}</a>
              --
              
              {% endcomment %}
              <a href="{% url 'viewpost' 4 %}">{{ post.title }}</a>
              --
              <a href="{% url 'external-profile' post.author.id|urlencode:"" %}">{{ post.author.user.username }}</a>
            </li>
            {% endfor %}
            {% for post in posts %}
            <li>
              <a href="{% url 'viewpost' post.pk %}">{{ post.title }}</a>
              --
              <a href="{% url 'profile' post.author.pk %}">{{ post.author.user.username }}</a>
            </li>
            {% endfor %}
          </ul>
      </div>
  </div>

  

</div>



{% endblock %}
