{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{% static 'blog/viewpost.css'%}">{% endblock %}
{% block content %}


<div class="post-header">
	{% if edit %}
	<button class="editbutton" onclick="window.location.href = '{% url 'edit' post.pk %}';">Edit Post</button>
	{% endif %}

	<h2>{{ post.title }}</h2>
	<p>Submitted by <a href="{% url 'profile' post.author.pk|urlencode:"" %}">{{ post.author.user.username }}</a>
	on {{ post.date }}</p>
	
</div>
<div class="post-content">
	<div class="post-container">
		{% if post.content_type == "text/plain" %}
			<p>{{ content }}</p>
		{% elif post.content_type == "text/markdown" %}
			{% autoescape off %}
			{{ content }}
			{% endautoescape %}
		{% else %}
			{% if post.image %}
				<img src = "{{ image }}" alt ="haha" >
			{% endif %}
		{% endif %}
	</div>
</div>

{% if user and user.is_authenticated and user.author%}
<div class="post-comments">
    <h1>Comments</h1>
	<form action="/action_page.php">
	<textarea id="com">
	</textarea>
	</form> 
	<button class="comment_button" onclick="">Reply</button>
</div>
{% endif %}


{% endblock %}