{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{% static 'blog/viewpost.css'%}">{% endblock %}
{% block content %}


<div class="post-header">
	{% if edit %}
	<button class="editbutton" onclick="window.location.href = '{% url 'edit' post.pk %}';">Edit Post</button>
	{% endif %}

	<h2>{{ post.title }}</h2>
	<p>Submitted by <a href="{% url 'profile' post.author.pk|urlencode:"" %}">{{ post.author.user.username }}</a>
	on {{ post.date }}</p>
	
</div>
<div class="post-content">
	<div class="post-container">
		{% if post.content_type == "text/plain" %}
			<p>{{ content }}</p>
		{% elif post.content_type == "text/markdown" %}
			{% autoescape off %}
			{{ content }}
			{% endautoescape %}
		{% else %}
			{% if post.image %}
				<img src = "{{ image }}" alt ="haha" >
			{% endif %}
		{% endif %}
	</div>
</div>


{% if user and user.is_authenticated and user.author%}
<div class="post-comments">
    <h1>Comments</h1>
	<form id = 'comment' action="{{comment}} " method="post" >
	{% csrf_token %}
	{{ form.as_p }}
	<input id="comment_button" type="submit" value="Reply">
	</form> 
<br>
<br>
<br>
<br>
</div>
{% endif %}


<div class="post-comments">
	<div class="comments">
	{% for comment in all_comment %}
		<div class="cbody">
		Posted by <a href="{% url 'profile' comment.author.pk|urlencode:"" %}">{{ comment.author.user.username }}</a>
		on <span>{{ comment.date }}</span><br>

		{% if comment.author == user.author  %}
		<div class="delete">
		<form id = 'comment' action="{% url 'removeComment' post.pk|urlencode:"" comment.pk|urlencode:"" %}" method="post" >
		{% csrf_token %}
		<input id="comment_button" type="submit" value="delete">
		<br>
		{% endif %}
		<div class="ccontent">{{comment.comment }}</div>
		</div>
		<br>
		{% endfor %}
	</div>

</div>



  </div>
{% endblock %}