{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<p style="color:red;">Debugging Info:<br>{{test}}</p>
<h2>{{ post.title }}</h2>
<p><a href="{% url 'profile' post.author.pk|urlencode:"" %}">{{ post.author.user.username }}</a>
  -- {{ post.date }}</p>

{% if edit %}
<p><a class="buttonlink" href="{% url 'edit' post.pk %}">edit</a></p>
{% endif %}

{% if post.content_type == "text/plain" %}
	<p>{{ content }}</p>
{% elif post.content_type == "text/markdown" %}
	{% autoescape off %}
	{{ content }}
	{% endautoescape %}
{% else %}
	{% if post.image %}
		<img src = "{{ image }}" alt ="haha" >
	{% endif %}
{% endif %}

{% endblock %}
