
{% extends "base.html" %}

{% block title %}PolarBear -- log in{% endblock %}

{% block content %}
{% if nomatch %}
<script>
  alert("Your username and password didn't match. Please try again.");
</script>
{% endif %}
<h3 align='center' class = 'login_header'> Log in to PolarBear </h3>
<div class = "login_main_block">
  <form action="{% url 'login' %}" method="post" class="loginsignupform" >
    {% csrf_token %}
    {{ form }}
    <br>
    <input type="submit" value="Sign In" class = 'login_btn'>
  </form>
</div>
{% endblock %}
