body {
    margin: 0;
    padding: 0;
    background: #F9F9F9;
}

* {
    font-family: sans;
}

.mainbar * {
    display: inline-block;
}

.mainbar {
    background-color: #3f97ba;
    color: white;
    position: relative;
}

.mainbar .baroption {
    margin:0;
    float: right;
    margin-right: 12pt;
    position: absolute;
    top: 50%;
    right: 4pt; /* stupid hack */
    transform: translateY(-50%);
}

.buttonlink {
    text-decoration: none;
    font-size: 12pt;
    color: white;
    background-color: #3f97ba;
    border: 1pt solid white;
    padding: 4pt;
    border-radius: 3pt;
}


.login_header{
    font-family: Verdana;
}

.login_main_block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 266px;
    line-height: 10px;


    border: 1px solid grey;
    border-radius: 5px;

    font-size: 14px;
    background: #ffffff;
}

.loginsignupform label {
    display: block;
    font-family: Verdana;
    font-style: bold;
    margin-left: 8%;
    margin-top: 10px;
    line-height: 25px;
    margin-bottom: 10px;
}

.loginsignupform input{

    display: block;
    margin-top: 10px;
    line-height: 35px;
    margin-bottom: 10px;

    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    font-family: Verdana;

    border: 1px solid grey;
    border-radius: 5px;
}
.login_btn{
    background: linear-gradient(to top, #53a452, 40%, #68ca66);
    background: linear-gradient(to bottom, #2e7acd 20%, #5696b7);
    color: #ffffff;
}

.login_btn:hover{
    background: linear-gradient(to bottom, #2e7acd 100%, #5696b7);
    cursor: pointer;

}
.buttonlink:hover {
    background-color: white;
    color: #3f97ba;
}


.signup_header{
    font-family: Verdana;
}

.signup_main_block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 390px;
    height: 336px;
    line-height: 10px;


    border: 1px solid grey;
    border-radius: 5px;

    font-size: 14px;
    background: #ffffff;
}

.signup_btn{
    background: linear-gradient(to top, #53a452, 40%, #68ca66);
    background: linear-gradient(to bottom, #2e7acd 20%, #5696b7);
    color: #ffffff;
}

.signup_btn:hover{
    background: linear-gradient(to bottom, #2e7acd 100%, #5696b7);
    cursor: pointer;

}

a.nolinkstyle {
    text-decoration: none;
    color: white;
}

friend-request {
    display: inline;
}
