{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}PolarBear{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
  </head>
  <body>
    <div class="mainbar">
      <h1><a href="/" class="nolinkstyle" style = 'padding-left: 10pt'>PolarBear</a></h1>
      {% if user and user.is_authenticated %}
      <div class="baroption">
        <p style = 'padding-right: 10pt'>welcome, {{ user.username }}</p>
        <a href="/user/authors/{{ user.id }}" class="buttonlink">Profile</a>
        <a href="/" class="buttonlink">Home</a>
        <a href="#" class="buttonlink">Friends</a>
        <a href="{% url 'logout' %}" class="buttonlink">log out</a>
      </div>
      {% elif 'signup' in request.get_full_path %}
      <a href="{% url 'login' %}" class="buttonlink baroption">log in</a>
      {% else %}
      <a href="{% url 'signup' %}" class="buttonlink baroption">Sign up</a>
      {% endif %}
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
