{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}PolarBear{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
  </head>
  <body>
    <div class="mainbar">
      <h1>PolarBear</h1>

      {% if user and user.is_authenticated %}
      <p class="baroption">welcome, {{ user.username }}<p>
      {% else %}
      <a href="{% url 'login' %}" class="buttonlink baroption">log in</a>
      {% endif %}
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
