{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}PolarBear{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <div class="mainbar">
      <h1><a href="/" class="nolinkstyle">PolarBear</a></h1>
      {% if user and user.is_authenticated %}
      <div class="baroption">
        <p>welcome, {{ user.username }}</p>
        <a href="{% url 'profile' user.author.pk %}" class="buttonlink">Profile</a>
        <a href="/" class="buttonlink">Home</a>
        <a href="{% url 'friendposts' %}" class="buttonlink">Friends</a>
        <a href="{% url 'logout' %}" class="buttonlink">Log Out</a>
      </div>
      {% elif 'signup' in request.get_full_path %}
      <a href="{% url 'login' %}" class="buttonlink baroption">Log In</a>
      {% else %}
      <a href="{% url 'signup' %}" class="buttonlink baroption">Sign Up</a>
      {% endif %}
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
